.encabezado{
  position: fixed;
  z-index: 0;
}

ion-toolbar{
  height: 80px;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registr{
  color: #0f5c6b;
}

.app{
  color: rgb(228, 228, 43);
}

.titulo_encabezado{
  font-size: 30px;
  height: 100%;
}
