.encabezado{
  position: fixed;
  z-index: 0;
}

ion-toolbar{
  height: 80px;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registr{
  color: #0f5c6b;
}

.app{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(255, 255, 255);
}

.titulo_encabezado{
  font-size: 30px;
  height: 100%;
}
