<ion-header>
  <app-header></app-header>
</ion-header>

@if (tipo === 'Docente'){
  <ion-content>
    <div class="contenedor">


      <ion-title class="title">CURSOS/SECCIONES</ion-title>



      <div class="button-container">
        <ion-list class="btns" >005D-Prog.Movil</ion-list>
        <ion-list class="btns" >0123V-Prog.Web</ion-list>
        <ion-list class="btns" >0067D-Prog.Algoritmo</ion-list>
      </div>

    </div>
  </ion-content>
}

@if (tipo === 'Alumno'){
  <ion-content>
    <div class="contenedor">


      <ion-title class="title">ASIGNATURAS/SECCIONES</ion-title>



      <div class="button-container">
        <ion-list class="btns" >005D-Prog.Movil</ion-list>
        <ion-list class="btns" >0123V-Prog.Web</ion-list>
        <ion-list class="btns" >0067D-Prog.Algoritmo</ion-list>
      </div>

    </div>
  </ion-content>
}



