.contenedor {
  background-image: url('https://img.freepik.com/vector-gratis/diseno-fondo-verde-oscuro_1107-162.jpg?t=st=1727295382~exp=1727298982~hmac=21562aae9c5be022388a39ce5bf00a01a5bee6e682eabe30dea2cbf7b7bb24c8&w=826');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.title {
  font-size: 30px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 100px;
  text-align: center;
  width: 100%;
}

.button-container {
  margin: 10px 0; /* Espacio entre los botones */
  text-align: center; /* Centra el texto dentro del botón */
}

.qr-container {
  margin-top: 20px; /* Espacio en la parte superior del QR */
  display: flex;
  justify-content: center; /* Asegúrate que el QR esté centrado */
}



ion-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

app-header {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: white; /* Ajusta este valor al color que prefieras */
}
