<ion-header>
  <app-header></app-header>
</ion-header>

@if (tipo === 'Docente'){

  <!-- Botones para seleccionar asignatura -->
  <div class="contenedor">


    <!-- Botones para seleccionar asignatura -->
    <div *ngFor="let asignatura of asignaturas">
      <ion-button (click)="generarQR(asignatura.sigla)">
        Generar QR de {{asignatura.nombre}}
      </ion-button>
    </div>

    <!-- Mostrar el QR generado -->
    <div *ngIf="asignaturaQR" class="qr-container">
      <qrcode [qrdata]="asignaturaQR" [width]="256"></qrcode>
    </div>
  </div>
}

@if (tipo === 'Alumno'){
<ion-content>
  <div class="contenedor">

    <ion-title class="title">CAMARA ACTIVA</ion-title>

    <div class="button-container">
      <img class="imgcam" src="https://communities.apple.com/es/content/attachment/160005907440" alt="">
    </div>

  </div>
</ion-content>
}
