<ion-header>
  <app-header></app-header>
</ion-header>

@if (tipo === 'Docente'){
  <ion-content>
    <div class="contenedor">


      <ion-title class="title">CURSOS/SECCIONES</ion-title>



      <div class="button-container">
        <h1>MOSTRANDO QR</h1>
      </div>

    </div>
  </ion-content>
}

@if (tipo === 'Alumno'){
  <ion-content>
    <div class="contenedor">


      <ion-title class="title">CAMARA ACTIVA</ion-title>



      <div class="button-container">
        <h1>COLOCAR IMG SIMULANDO</h1>
      </div>

    </div>
  </ion-content>
}


