<ion-content>
  <app-header></app-header>
  <div class="contenedor">
    <ion-card class="card">
      <ion-card-header>
        <ion-card-title class="titulo_card">Login</ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <ion-item>
          <ion-input [(ngModel)]="correo" label="Correo" labelPlacement="floating" placeholder="Correo"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input [(ngModel)]="clave" label="Contraseña" labelPlacement="floating" type="password"></ion-input>
        </ion-item>

        <div>
          <ion-radio-group class="contenedor_radio" [allowEmptySelection]="true" #ocupacion (ionChange)="guardarOcupacion(ocupacion.value)">
            <ion-radio value="alumno" class="seleccion_radio">Alumno</ion-radio>
            <ion-radio value="docente" class="seleccion_radio">Docente</ion-radio>
          </ion-radio-group>
        </div>


        <div class="contenedor-boton">
          <ion-text color="danger" *ngIf="loginFailed" class="mensaje-error" [ngClass]="{'show': loginFailed}">
            Usuario o clave incorrectos.
          </ion-text>

          <ion-button class="btn-iniciar" color="custom" (click)="login(correo, clave)" [ngClass]="{'hidden': !loginFailed}">Iniciar sesión</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
