.custom-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #995151; /* Color de fondo */
}

.titulo{
  color: rgb(0, 230, 191);
}

.con{
  background-color: rgb(175, 64, 64);
  padding: 20px;
  border-radius: 10px;
}
