.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #0f5c6b;
  overflow: hidden;
}

.titulo_card{
  color: #0f5c6b;
  font-size: bolder;
}

.card{
  border-radius: 15px;
}

.contenedor_radio{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 15px;
}
.seleccion_radio{
  align-items: center;
  margin-right: 20px;
}

