<!-- <ion-content>
  <app-header></app-header>
  <ion-card style="margin-top: 100px;">
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form action="">
        <ion-item>
          <ion-input [(ngModel)]="nombre" name="nombre" label="Nombre" labelPlacement="floating" placeholder="Nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Contraseña" labelPlacement="floating" type="password"></ion-input>
        </ion-item>
      </form>

      <ion-button (click)="guardarNombre()" [routerLink]="['/']">Ingresar</ion-button>

      <ion-button [routerLink]="['/restablecer']">Restablecer contraseña</ion-button>

    </ion-card-content>
  </ion-card> -->

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input [(ngModel)]="correo" label="Correo" labelPlacement="floating" placeholder="Correo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="clave" label="Contraseña" labelPlacement="floating" type="password"></ion-input>
      </ion-item>

      <ion-button (click)="login(correo, clave)">Iniciar sesión</ion-button>

      <ion-text color="danger" *ngIf="loginFailed">
        Usuario o clave incorrectos.
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
