<ion-header>
  <app-header></app-header>
</ion-header>


<ion-content>

<div class="contenedor">


      <ion-title class="title">BIENVENIDO {{nombre}}</ion-title>



  <div class="button-container">
    <ion-button class="btns" [routerLink]="['/restablecer']">Restablecer contraseña</ion-button>
    <ion-button class="btns" [routerLink]="['/asignaturas_cursos']">Cursos/Secciones</ion-button>
    <ion-button class="btns" [routerLink]="['/camara_qr']">Generar QR</ion-button>
    <ion-button class="btns" [routerLink]="['/perfil']">Perfil</ion-button>
  </div>

</div>
</ion-content>


